<!-- FOOTER -->
<footer class="site-footer">
    <div class="site-container footer-container">

        <!-- LOGOS LINKS -->
        <div class="footer-logos">

            <a>
                <img src="{{ '/assets/images/iat.png' | relative_url }}" alt="Bild 1">
            </a>

            <a>
                <img src="{{ '/assets/images/tu.png' | relative_url }}" alt="Bild 2">
            </a>

            <a>
                <img src="{{ '/assets/images/fr.webp' | relative_url }}" alt="Bild 3">
            </a>

            <a>
                <img src="{{ '/assets/images/ureka.png' | relative_url }}" alt="Bild 4">
            </a>

        </div>

        <!-- BILD + TEXT RECHTS -->

        <div class="footer-image-text">

            <img class="footer-image"
                 src="{{ '/assets/images/gkv.png' | relative_url }}"
                 alt="GKV-Spitzenverband">

            <div class="footer-text">
                <p>Gefördert im Rahmen des Modellprogramms nach § 8 Abs. 3 SGB XI</p>
            </div>

        </div>

    </div>
</footer>
