<!DOCTYPE html>
<html lang="de">
{% include head.html css="beitrag" %}

<body>

{% include header.html %}


<!-- TITEL DES BEITRAGS -->

<section class="page-header">
    <div class="site-container">

        <a class="beitrag-back" href="{{ '/aktuelles/' | relative_url }}">
            <span aria-hidden="true">←</span> Alle Beiträge
        </a>

        <h1>{{ page.title }}</h1>

    </div>
</section>


<!-- INHALT -->

<main class="page-content beitrag-content">
    <div class="site-container">

        <time class="beitrag-date" datetime="{{ page.date | date: '%Y-%m-%d' }}">
            {{ page.date | date: '%d.%m.%Y' }}
        </time>

        {% if page.image %}
        <img class="beitrag-image"
             src="{{ page.image | relative_url }}"
             alt="{{ page.image_alt }}">
        {% endif %}

        {{ content }}

    </div>
</main>


{% include footer.html %}

</body>
</html>
